<div class=" m -5"></div>
<div class="row">
      <h1>"Experiencia Laboral"</h1>
      
    <div class="col-lg-11">
      <div class="col-lg-1"></div>
      <ul class="items-list">
        <li>
          <div class="data-container">
            <img class="logo-image" src="../../../../assets/aegis.png" id="Aegis">
            <h2>AEGIS ex Sur Contact Center</h2>
            <h3>Supervisora Call Center></h3> <br>
            <h3>desde 2003 hasta 2012</h3><br>
            <p>Realizaba tareas de control de llamadas a asesores, Gestion de tiempos, Control de calidad en llamdas out
            </p>
          </div>
        </li>
        <li>
          <div>
            <img class="logo image" src="../../../../assets/Atento.png" id="Atento">**
            <h2>ATENTO Contact Center</h2>
            <h3>Asesor de Ventas en Call Center</h3><br>
             <h3>(Actualmente)</h3><br>
            <p>Atencion al cliente, ventas para la cuenta de Telefonica/Movistar</p>
          </div>

          <div>

