<div class=" m -5"></div>
<div class="row">
      <h1>"Estudios"</h1>

        <div class="col-lg-11">
      <div class="col-lg-1"></div>
      <ul class="items-list">
        <li>
              <div class="data-container">
                <img class="logo-image" src="../../../assets/Nutricion.png" id="Nutricion">
                <h3>Asesora en Alimentación Saludable</h3> <br>
                <h5>Titulo 2022</h5>
                <p>Como mantener un peso y una alimentación saludable </p>
              </div>
            </li>
            <li>
              <div>
              <img class="logo image" src="../../../assets/entren func.png" id="EF">
                <h4>Instructora en Entrenamiento Funcional</h4>
                 <h5>Titulo 2022</h5>
             <p>Ejercicios Funcionales para trabajr todo el cuerpo</p> 
              </div>
        </li>
        
        <li>
          <div>
            <img class="logo image" src="../../../assets/Arg Prog1.png" id="APloui">
              <h4> Full Stack developer</h4><h5>Estudiante</h5>
           <p>Argentina-Programa</p> 
            </div>
    </li>  




