<div class="row">
    <h1>Hard & Soft Skills</h1>
       
<circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'HTML 90%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="100"
  [title]="'CSS 70%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'ANGULAR 70%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="50"
  [radius]="100"
  [title]="'JAVA 50%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'GITHUB 75%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="100"
  [title]="'GITBUSH 70%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'WORKBENCK 85%'"
  [titleColor]="'#0dcaf0'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0d6efd'"
  [innerStrokeColor]="'#d63384'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>

