<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../../assets/Arg Prog1.png" id="LOGOAP">
    <div> <button type="button" class="btn btn-info" >Ingreso</button></div>

    <a href=""><img src="../../../../assets/fb.png" alt="fb"></a>
    <a href=""><img src="../../../../assets/wsp.png" alt="wsp"></a>
    <a href=""><img src="../../../../assets/twt.png" alt="twt"></a>
    <a href=""><img src="../../../../assets/insta.png" alt="insta"></a>

        <img src="../../../assets/banner.web.jpg" id="mibanner">
    </div> 
