<div class=" m -5">
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
  <img src="../../../assets/mifoto.jpg" class="img-fluid" id="mifoto">
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p>"Paticia Galun"</p>
  <p>Full Stack Developer Jr</p>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <span>
    <h1>Acerca de mi</h1>
    <p>Soy Una persona fanatica del estudio,recibida como Asesora en alimentacion Saludable<br>
      Tambien estudie Profesorado de Ejercitacion en Ejercicios Funcionales<br>
      Hice un curso en Liquidacion de sueldos y Jornales, excel y RRHH<br>
      Amo las matematicas y los desafios </p>
  </span>
</div>
</div>
